
/*
    All of this stylesheet will eventually be standard in the XD Plugin runtime. Including here until then.
    We expect it to land in the December 2018 release.
*/
dialog form label.row {
    align-items: center;
}
dialog form .column {
    display: flex;
    flex-direction: column;
}
dialog form .margin {
    margin: 6px;
}
dialog form label.row {
    justify-items: center;
    align-items: center;
}
dialog form nav.row {
    border-bottom: solid 2px #EAEAEA;
    margin: 6px;
    margin-top: 15px;
}
dialog form nav.row .tab {
    position: relative;
    top: 2px;
    white-space: nowrap;
    padding-bottom: 15px;
    cursor: pointer;
    /* doesn't work yet */
    color: #707070;
    /* textColorLight */
    border-bottom: solid 2px transparent;
}
dialog form nav.row .tab:not(:first-child) {
    margin-left: 12px;
}
dialog form nav.row .tab:not(:last-child) {
    margin-right: 12px;
}
dialog form nav.row .tab.active, dialog form nav.row .tab:hover:not(.disabled) {
    color: #3F3F3F;
}
dialog form nav.row .tab.disabled {
    color: #B3B3B3;
}
dialog form nav.row .tab.active {
    border-bottom: solid 2px #3F3F3F;
}
dialog form nav.row.small {
    margin-top: 7px;
}
dialog form nav.row.small .tab {
    padding-bottom: 7px;
}
dialog form nav.row.quiet {
    border-bottom: solid 2px transparent;
}