form {
    width: 480px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
}

h1 button {
    margin: 0;
    padding: 0;
}

footer {
    flex: 0 0 auto;
    align-items: center;
}

.nogrow {
    flex: 0 0 auto;
}

.noshrink {
    flex: 0 0 auto;
}

:local(.logo) {
    height: 26px;
}

.row {
    align-items: center;
}

.row label span {
    font-size: 100%;
}

:local(.resultsWrapper) {
    overflow-y: scroll;
    flex: 1 0 300;
    height: 300px;
    width: 480px;
    display: flex;
    flex-direction: column;
}

:local(.results) {
    justify-content: center;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

:local(.resultsList) {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

:local(.resultRow) {
    flex-direction: row;
    align-content: center;
    border-radius: 4px;
    background-color: #F5F5F5; /* without this, the checkboxes don't show up when we scroll! */
}

:local(.resultRowImageWrapper) {
    height: 32px;
    width: 32px;
    overflow: hidden;
    display: flex;
}

:local(.resultRow) img {
    height: 32px;
    flex: 0 0 auto;
    margin: auto auto;
}

:local(.resultRow) span {
    flex: 1 1 auto;
}

:local(.resultRow) button {
    display: none;
}

:local(.resultRow):hover {
    background-color: #EAEAEA;
}

:local(.resultRow):hover button {
    display: block;
}

form a:hover {
    color: red;
}

:local(.resultsInfo) {
    margin: 0;
    justify-content: flex-end;
    height: 32px;
}

:local(.viewMode) {
    display: flex;
    flex-direction: row;
    margin: 0;
}

:local(.viewMode) button {
    margin: 0;
}