:local(.cardWrapper) {
    margin: var(--margin);
    border-radius: 8px;
    background-color: #EAEAEA;
    flex: 0 0 200;
    overflow: hidden;
    position: relative;
    border: 1px solid #DDDDDD;
}

:local(.cardHero) {
    overflow: hidden;
    flex-basis: 150;
}

:local(.cardHeroImg)  {
    margin: auto;
    display: block;
}

:local(.selected) {
    background-color: #1592E6;
}
:local(.selected) :local(.cardHero) {
    opacity: 0.75;
}

:local(.unselected) {
}

:local(.cardHeroInfo) {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    right: var(--margin);
    bottom: var(--margin);
    display: none;
}

:local(.cardWrapper):hover :local(.cardHeroInfo) {
    display: block;
}