:local(.logo) {
    height: 26px;
}
:local(.form) {
    width: 480px;
}
:local(.contents) {
    flex: 0 0 auto;
}
:local(.apiKeyField) input {
    flex: 1 1 auto;
}
:local(.apiKeyField) button {
    flex: 0 0 auto;
    width: 32px;
}