:local(.form) {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 68px);
    overflow: hidden;
    padding: 0;
}
:local(.resultsWrapper) {
    flex: 1 1 auto;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}

:local(.resultsInfo) {
    margin: 0;
    justify-content: flex-end;
    height: 32px;
}

:local(.commandLine) {
    border-top: 0.5px solid #D8D8D8;
    padding-top: 4px;
    /*width: 100%;
    position: fixed;
    bottom: 0;*/
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: flex-end;
    order: 99;
}

:local(.commandLine) div, :local(.commandLine) p {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

:local(.commandLine) button {
    flex: 0 0 auto;
}