.book {
    height: calc(100% - 128px);
}
.page-inner {
    max-width: 1000px;
    padding-right: 250px;
    margin: 0 75px;
}

.page-inner section.markdown-section {
    overflow-x: auto;
}

.page-toc {
    position: absolute;
    right: 0;
    width: 250px;
    top: 2em;
    background: none;
    border: 0;
    border-left: 1px solid #EAEAEA;
    overflow-x: auto;
}

.page-toc::before {
    content: "Contents";
}

.page-toc li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: -20px;
}

.book-header h1 {
    opacity: 1;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.book-header {
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.25);
}

#book-search-input {
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.25);
}

.divider {
    height: 2px;
}

.markdown-section img {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.25);

    width: 80%;
    margin: 0 10%;
    padding: 2.5%;

    background-color: white;
}
.markdown-section .glossary-term {
    color: #527c23;
    padding: 2px 4px;
    text-decoration: none !important;
    text-decoration-style: none !important;
    border-bottom:2px dotted;
}
.markdown-section .glossary-term:hover {
    text-decoration: none !important;
    text-decoration-style: none !important;
}

.markdown-section td img {
    width: 95% !important;
    margin: 0;
}

.markdown-section table td {
    border: 0;
}

.markdown-section table tr {
    border: 0;
}

.markdown-section table thead tr {
    border: 0;
    background-color: #F5F5F5;
}

.markdown-section table thead th {
    border: 0;
}

.nav.nav-tabs {
    margin: 0;
    padding: 1em 1em 0 1em;
    border: 1px solid #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #F5F5F5;
}

.tab-content {
    margin-bottom: 2em;
    border: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 1em;
    border-top: 0;
    background-color: white;
}

.tab-content img {
    border: 0;
    width: auto;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

/* header and footer CSS */
body {
    margin: 0;
    font-size: 14px;
  }

  .App {
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
    min-width: 900px;
  }

  p {
    margin: 16px;
    margin-top: 0;
    font-size: 100%
  }

  a {
    color: #1592e6;
    text-decoration: none;
    font-size: 14px;
  }

  h1 a {
      color: inherit;
      font-size: inherit;
  }

  a:hover {
    text-decoration: underline;
  }

  h1 a:hover {
      text-decoration: none;
      color: inherit;
  }

  .logos {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
  }

  .logos img {
    height: 32px;
    padding: 16px;
  }

  .footer {
    color: #B8B8B8;
    text-align: right;
  }

  .footer a {
    color: #B8B8B8;
  }

  .footer a:hover {
    color: #EAEAEA;
  }

  .hero {
    -ms-flex-pack: center;
        justify-content: center;
  }

  .hero img {
    width: 678px;
    height: 300px;
  }

  /* privacy link */
a .evidon-consent-link-text {
    color: #B8B8B8;
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  a:hover .evidon-consent-link-text {
    color: #EAEAEA;
  }

  /* Some mobile stuff */

  @media (max-width: 640px) {
      .page-toc {
          float: none;
          position: static;
      }
      .page-inner {
          padding-right: 0;
      }
  }