/* normalize for next release of CSS */

/* MAC */
.uxp-plugin {
    color: #3F3F3F;
    font-size: 10px;
}
.uxp-plugin h1 {
    color: #8E8E8E;
    font-size: 10px;
}
.uxp-plugin label span {
    font-size: 9px;
    color: #8E8E8E;
}

/* WIN
.uxp-plugin {
    color: #3F3F3F;
    font-size: 12px;
}
.uxp-plugin h1 {
    color: #8E8E8E;
    font-size: 12px;
}
.uxp-plugin label span {
    font-size: 12px;
    color: #8E8E8E;
}
*/

dialog > :local(.form) {
    width: 480px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.root {
    height: calc(100vh - 90px);
}

:local(.form) {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

:local(.h1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    flex-wrap: wrap;
}

:local(.form) hr {
    flex: 0 0 auto;
}

:local(.editor) {
    flex: 1 1 auto;
}

:local(.footer) {
    flex: 0 0 auto;
    align-items: center;
}

:local(.scrollWrapper) {
    overflow: auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    padding: 24px;
    position: relative;
}

:local(.backdrop) {
    border: 1px solid #323232;
    background-color: #666666;
}

:local(.dialog) {
    background-color: #FFFFFF;
    border-radius: 8;
    border: 1px solid #EAEAEA;
    padding: 32px;
}

:local(.html) {
    flex: 1 0 auto;
    font-family: Menlo;
}

:local(.tabs) {
    display: flex;
    flex-direction: row;
}

:local(.tab) {
    appearance: none;
    border-bottom: 2px transparent;
}

:local(.tab)[uxp-selected=true] {
    border-bottom: 2px solid #323232;
}