:local(.cardWrapper) {
    margin: 6px;
    border-radius: 8px;
    background-color: #EAEAEA;
    flex: 0 0 200;
    overflow: hidden;
    position: relative;
}

:local(.cardHero) {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    flex-basis: 150;
}

:local(.cardHeroImg)  {
    margin: auto;
}

:local(.selected) {
    border: 2px solid #1592E6;
}

:local(.unselected) {
    border: 2px solid transparent;
}

:local(.cardHeroInfo) {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0; /* bug: if using default margins, changing visibility loses them and causes button to shift on selection */
    display: none;
}

:local(.cardWrapper):hover :local(.cardHeroInfo) {
    display: block;
}