form {
    width: 480px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
}

h1 button {
    margin: 0;
    padding: 0;
}

footer {
    flex: 0 0 auto;
    align-items: center;
}

.nogrow {
    flex: 0 0 auto;
}

:local(.logo) {
    height: 26px;
}

.row {
    align-items: center;
}

.row label span {
    font-size: 100%;
}

:local(.resultsWrapper) {
    overflow: scroll;
    flex: 1 0 300;
    height: 300px;
    width: 480px;
    display: flex;
    flex-direction: column;
}

:local(.results) {
    justify-content: center;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form a:hover {
    color: red;
}